.faqContainer{
    width: 95Vw;
    background-color: #fff;
    margin: 20px auto;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
@media (max-width:620px) {
    .faqContainer{
        width: 90vw;
    }
}