.banner{
    /* width: 100vw; */
    background-image: url("../../images/pexels-czapp-árpád-16945241.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 40px 120px 40px;
    color: #fff;
    /* position: relative; */
    overflow: visible;
}
.banner h1{
    text-align: center;
    font-weight: bolder;
    font-size: 52px;
}
.banner p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
}
.banner .landingPage-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.banner .landingPage-form input{
    padding: 20px;
    margin: 1px 5px;
    width: 300px;
    border-radius: 5px;
    border: none;
}
.banner .landingPage-form #what{
    width: 250px;
}
.banner .landingPage-form input::placeholder{
    font-weight: 18px;
    font-weight: 600;
    color: #282828;
}
.banner .landingPage-form input:focus{
    outline: none;
}

.banner form button{
    background-color: #ED4765 !important;
    color: #fff;
    border: none;
    padding: 16px 35px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    border-radius: 5px;
}
@media (max-width:867px) {
    .banner .landingPage-form{
        flex-direction: column;
        width: 85%;
       
    }
    .banner .landingPage-form input{
        margin: 10px 5px;
        width: 90%;
    }
    .banner .landingPage-form #what{
        width: 90%;
    }
    .banner form button{
        margin-top: 10px;
    }
}
@media (max-width:480px){
    .banner h1{
        font-size: 45px;
    }
    .banner .landingPage-form input{
        margin: 10px 5px;
        width: 100%;
        padding: 15px 20px;

    }
    .banner .landingPage-form #what{
        width: 98%;
    }
    .banner form button{
        padding: 14px 27px;
        font-size: 18px;
    }
}



#blackout {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: z-index 500ms, visibility 800ms, opacity 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#blackout.visable {
    opacity: 1;
    z-index: 8;
    display: block;
    visibility: visible;
}
#popup {
    /* opacity: 0; */
    /* top: -220%; */
    /* left: 10%; */
    width: 95vw;
    height: 75vh;
    /* padding: 15px; */
    position: fixed;
    border-radius: 5px;
    /* margin: 0% 0 0 50%; */
    background: rgb(248, 248, 248);
    transition: top 550ms, opacity 500ms, z-index 500ms;
    overflow: visible;
    /* display: flex; */
    display: none;
    z-index: 999;
}


#popup.visable {
    top: 2%;
    display: block;
    /* opacity: 1; */
    z-index: 99999;
    /* position: /; */
    
}
.closebutton{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.closebutton:hover{
    cursor: pointer;
}

.carousel-img{
    width: 100%;
    height: 100%;
}
.carousel .carousel-item {
    height: 95vh;
    z-index: 102;
  }
  
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 95vh;
    filter: brightness(80%);
}

/*carousel*/
.askDiv{
    position: absolute;
    top: 50px;
    z-index: 99;
    background-color: none;
    width: fit-content;
    left: 25%;
    width: 50%;
    /* min-width: 700px; */
    /* height: 600px; */
    display: flex;
    background-color: #fff;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: auto 50px;
    border-radius: 2px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    backdrop-filter: blur(2px);
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
}
.askDiv .userDiv, .vendorDiv{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #111;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;
    min-width: 200px;
    /* min-width: 250px; */
    border: 1px solid #111;
    border-radius: 2px;
    
}
.askDiv .userDiv img, .vendorDiv img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.askDiv .userDiv button, .vendorDiv button{
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #ED4765;
    color: #fff;

}

