.testimonialSection{
    padding: 30px 5vw;
}
.testimonialSection h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.testimonialSection h1 span{
   color: #ed4765;
}
.testimonialSection-cards{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position:relative;
}